<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teen.book_store.Mapper.OrderFormMapper">
    <select id="selectByUsername" resultMap="orderForm">
        select * from `order_form` t1,`order_form_item` t2 where t1.id = t2.id and t1.username= #{username}
    </select>

    <resultMap id="orderForm" type="com.teen.book_store.Bean.OrderForm">
        <result property="id" column="id"></result>
        <result property="username" column="username"></result>
        <result property="date" column="date"></result>
        <result property="address" column="address"></result>
        <result property="totalPrice" column="total_price"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <collection property="orderFormItemList" ofType="com.teen.book_store.Bean.OrderFormItem">
            <result property="id" column="id"></result>
            <result property="bookId" column="book_id"></result>
            <result property="bookNum" column="book_num"></result>
            <result property="price" column="price"></result>
        </collection>
    </resultMap>
</mapper>